.header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EBEBEB;
    height: 64px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.leaf{
    margin: auto;
    margin-left: 0;
    width: 52px;
    height: 40px;
    //padding: 5px;
    border-radius: 10px;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img{
        margin: auto;
    }
    p{
        color: black;
        margin: auto;
        //padding-right: 5px;
    }
}
.config{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.headerButton{
    margin: auto;
    margin-left: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: #EBEBEB;
    display: flex;

    img{
        margin: auto;
    }   
}

.homePage{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.question{
    display: flex;
    flex-direction: column; 
    background-color: #EBEBEB; 
    padding: 20px;
    border-radius: 10px;
}
.questionCategory{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
.categoriePicture{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    img{
        margin: auto;
    }
}
.categorieTitle{
    height: 28px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    p{
        margin:auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 2px;
        margin-top: 5px;
    }
}
.theQuestion{
    text-align: left;
}
.progress{
    display: flex;
    flex-direction: row;
}
.dot{
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #B2B2B2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 9px;
    margin-right: 9px;
}
.launchQuiz{
    height: 48px;
    display: flex;
    border-radius: 10px;
    background-color: #7A51EC;
    p{
        margin: auto;
        color: white;
        font-size: 16px;
    }
}
.headerDefis{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.defisCount{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.defisCounter{
    width: 30px;
    height: 30px;
    //padding: 5px;
    border-radius: 10px;
    background-color: #EBEBEB;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    p{
        margin: auto;
        color: #515151;
    }
}
.showAllDefis{
    margin: auto;
    margin-right: 0;
    color: #303030;
}
.defi{
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.doneDefis{
    background-color: #EBEBEB;
    width: 100%;
    border-radius: 10px;
    display: flex;
    height: 24px;
    p{
        margin: auto;
    }
}
.footer{
    display: flex;
    flex-direction: row;

    border-top: 1px solid #EBEBEB;
    height: 56px;
    justify-content: space-between;
}
.homeLink{
    height: 100%;
    width: 20%;
    display: flex;
    img{
        margin: auto;
    }
}